.displayTableCell{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border-radius: 10%;
    background-color:bisque;
    border: 3px solid sienna;
    
}
span:hover{
    cursor:pointer;
}