<button class="btn btn-success redondo" routerLink="nuevoSocio">➕</button>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Edad</th>
              <th scope="col">Correo</th>
              <th scope="col">Botones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let socio of socios">
              <th scope="row">{{socio.data.nombre}}</th>
              <td>{{socio.data.apellidos}}</td>
              <td>{{socio.data.edad}}</td>
              <td>{{socio.data.correo}}</td>
              <td><button class="boton boton1" mat-raised-button color="warn" routerLink="sociodetalles/{{socio.id}}">Ver Detalles</button>
              <button class="boton boton2" mat-raised-button color="warn"
                routerLink="socioEdit/{{socio.id}}">Editar</button>
              <button class="boton boton3" mat-raised-button color="warn" (click)="deleteSocio(socio.id)">Eliminar</button></td>
            </tr>
      </table>
  
</div>