<button class="btnn buton" routerLink="/ssocios">Volver</button>
<div class="container">
    <form class="row g-3" (ngSubmit)="editarSocio()" [formGroup]="editaForm">
        <div class="col-md-6">

            <input type="hidden" formControlName="tienelibro">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control" id="inputNombre">
        </div>
        <div class="col-md-6">
            <label for="inputAutor" class="form-label">Apellidos</label>
            <input type="text" formControlName="apellidos" class="form-control" id="inputNombre">
        </div>
        <div class="col-6">
            <label for="inputFoto" class="form-label">Foto</label>
            <input type="text" formControlName="foto" class="form-control" id="inputFoto"
                placeholder="http://ejemplo.com/imagen.jpg">
        </div>
        <div class="col-md-3">
            <label for="inputIsbn" class="form-label">Edad</label>
            <input type="number" formControlName="edad" class="form-control" id="inputIsbn">
        </div>
        <div class="col-md-3">
            <label for="inputGenero" class="form-label">Genero Favorito</label>
            <select id="inputGenero" formControlName="generofav" class="form-select">
                <option selected>Novela Negra</option>
                <option>Novela Historica</option>
                <option>Novela de Terror</option>
                <option>Novela de Ciencia ficcion</option>
                <option>Novela de Fantastica</option>
                <option>Novela Romantica</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputCorreo" class="form-label">Correo</label>
            <input type="text" formControlName="correo" class="form-control" id="inputNombre">
        </div>
        <div class="col-md-6">
            <label for="inputTelefono" class="form-label">Telefono</label>
            <input type="number" formControlName="telefono" class="form-control" id="inputNombre">
        </div>
        <div class="col-12">
            <button type="submit" [disabled]="!editaForm.valid" class="btn btn-success">Editar Socio</button>
        </div>
    </form>
</div>