.inicio{
    margin-top: 5%;
    font-weight: bold;
}
.biblio{
    width: 100%;
    margin-top: 5%;
}

.top{
    text-align: center;
    margin-top: 3%;
    font-weight: bold;
    padding: 2%;
    background-color: burlywood;
    border: 3px solid sienna;
}
.second{
    margin-top: 5%;
    background-color: burlywood;
    border: 3px solid sienna;
}
.mapa{
    padding: 2%;
    border: 50px solid sienna;
}
ul{
    margin-top: 7%;
    list-style: none;
    padding: 2%;
    
}
li{
    margin-bottom: 5%;
    margin-left: 5%;
    color: #000000;
    text-decoration: none;
}
li:hover{
    border-top: 1px solid cornsilk;
    border-radius:22px;
    border-bottom: 1px solid cornsilk;
    font-weight: bold;
    cursor: pointer;
}
.nombre{
    margin-top: 5%;
    font-weight: bold;
}