<div class="container">
    <h1 class="top">La Biblioteca del Pensamiento</h1>
    <div class="row">
        <div class="col-6">
            <h1 class="inicio">¡Bienvenidos a nuestra Biblioteca!</h1>
            <h3>Bienvenidos a todos los amantes de la lectura, a un espacio creado para
                hacernos volar a universos maravillosos de grandes héroes, formidables
                hazañas e historias cotidianas en mundos creados para hacernos vivir en la
                piel de otras personas.</h3>
                
                <h3>Nuestra biblioteca fue creada en 1995, con el fin de facilitar su uso y
                hacer llegar toda esta cultura lectora a todos aquellos que la quieran disfrutar.</h3>
                <h3>Con un solo clic puede “volar” a la experiencia que le apetezca conocer
                o entretener sus ansias de saber. Esperamos que le sea de gran utilidad esta
                herramienta de búsqueda y que le disfruten.</h3>
                
        </div>
        <div id="inicio2" class="col-6">
            <img class="biblio" src="assets/imgs/biblio.jpg">
        </div>
    </div>
    <div class="second row">
        <div class="col-4">
            <h3 class="nombre">Trabajo realizado por Emilio Pulido Jiménez</h3>
            
               
            <ul>
               
                <li><a title="instagram" href="https://www.instagram.com/pensamientobiblioteca/?hl=es" target="_blank"><img src="assets/imgs/insta.png" alt="comienzo" width=20%></a> @pensamientobiblioteca</li>
                <li><a title="twitter" href="https://twitter.com/BibliotecaPens1" target="_blank"><img src="assets/imgs/tw.png" alt="comienzo" width=20%></a> @BibliotecaPens1</li>
 
              </ul>     
        </div>
        <div class="col-4 ">
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6343.307793571617!2d-6.054486975754584!3d37.35070177882313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126d181808891d%3A0x42555a132bcbf9e2!2sBiblioteca%20P%C3%BAblica%20Municipal%20Jos%C3%A9%20Saramago!5e0!3m2!1ses!2ses!4v1641607609843!5m2!1ses!2ses" width="450" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-4 ">
         
        </div>
    </div>
</div>   

