<button class="btn btn-success redondo" routerLink="nuevoPrestamo">➕</button>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Libro</th>
        <th scope="col">Socio</th>
        <th scope="col">Fecha Inicio</th>
        <th scope="col">Fecha Fin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prestamo of prestamos">
        <ng-container *ngFor="let libro of libros">
          <th *ngIf="comparaciones(prestamo.data.libro, libro.id)" scope="row">{{libro.data.nombre}}</th>
        </ng-container>
        <ng-container *ngFor="let socio of socios">
          <td *ngIf="comparaciones(prestamo.data.socio, socio.id)" scope="row">{{socio.data.nombre}} {{socio.data.apellidos}}</td>
        </ng-container>
        <td>{{prestamo.data.fechaInicio.toDate() | date:'dd/MM/yyyy'}}</td>
        <td>{{prestamo.data.fechaFin.toDate() | date:'dd/MM/yyyy'}}</td>
        <td>
          <button class="boton boton3" mat-raised-button color="warn" (click)="ampliar(prestamo.id)">Ampliar</button>
          <button class="boton boton3" mat-raised-button color="warn" (click)="deletePrestamos(prestamo.id, prestamo.data.libro)">Devolver</button>
         
          
        </td>
      </tr>
  </table>

</div>