<div class="container">
    <form class="row g-3" (ngSubmit)="editarLibro()" [formGroup]="editaForm">
        <div class="col-md-6">

          <input type="hidden" formControlName="prestado">
          <label for="inputNombre" class="form-label">Titulo</label>
          <input type="text" formControlName="nombre" class="form-control" id="inputNombre">
        </div>
        <div class="col-md-6">
          <label for="inputAutor" class="form-label">Autor</label>
          <input type="text" formControlName="autor" class="form-control" id="inputNombre">
        </div>
        <div class="col-6">
          <label for="inputFoto" class="form-label">Foto</label>
          <input type="text" formControlName="foto" class="form-control" id="inputFoto" placeholder="http://ejemplo.com/imagen.jpg">
        </div>
        <div class="col-md-3">
          <label for="inputIsbn" class="form-label">ISBN</label>
          <input type="number" formControlName="isbn" class="form-control" id="inputIsbn">
        </div>
        <div class="col-md-3">
          <label for="inputGenero" class="form-label">Genero</label>
          <select id="inputGenero" formControlName="genero" class="form-select">
            <option selected>Novela Negra</option>
            <option>Novela Historica</option>
            <option>Novela de Terror</option>
            <option>Novela de Ciencia ficcion</option>
            <option>Novela de Fantastica</option>
            <option>Novela Romantica</option>
          </select>
        </div>
        
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripcion</label>
            <textarea class="form-control" formControlName="descripcion" id="descripcion" rows="3"></textarea>
          </div>
        <div class="col-12">
          <button type="submit" [disabled]="!editaForm.valid" class="btn btn-success">Editar Libro</button>
        </div>
      </form>
</div>
