<button class="btn buton" routerLink="/dashboard/libritos">Volver</button>
<div class="container">
    <div class="row">
        <div class="fotito col-8"> <img src="{{libro.foto}}" class="libro-img" alt="fotolibro" width="50%"></div>
        <div class="col-4"> 
            <h1 class="libro-title">{{libro.nombre}}</h1>
            <h3>Autor/Autora:&nbsp;{{libro.autor}}</h3>
            <h3>Genero: {{libro.genero}}</h3>
            <h3>ISBN: {{libro.isbn}}</h3>

        </div>

      </div>
      <div class="desc"> 
        <h2>Descripción</h2>
        <p>{{libro.descripcion}}</p>
      </div>
  
</div>