.container{
    padding: 3%;
    margin-top: 2%;
}
h2, h1{
    font-weight: bolder;
}
img{
    margin-left: 25%;
}
.desc{
  margin-top: 3%;
}
.fotito:hover {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 3%;
}
.btn {
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    display:inline;
    height: 50px;
    width: 120px;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: transparent;
    color: sienna;
    font-size: 15px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid tan;
    margin-right: 40px;
    z-index: 0;
    font-weight: 500;
    cursor: pointer;
  }
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: sienna;
    transition: all 500ms ease;
    z-index: -1;
  }
 
.buton::before {
    width: 0;
    height: 100%;
  }
.buton:hover {
    color: tan;
  }
.buton:hover::before {
    width: 100%;
  }
