header{
    background-color: sienna;
    margin: 0;
    padding: 2%;
    color: tan;
    font-weight: bold;
}
h1{
    margin-top: 20px;
    margin-left: 20;
}
button{
    margin-left: 20px;
}
img:hover{
  cursor:pointer;
}
.btn {
    position: relative;
    display:inline;
    height: 70px;
    width: 150px;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid tan;
    margin-right: 40px;
    z-index: 0;
    font-weight: 500;
    cursor: pointer;
  }
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: beige;
    transition: all 500ms ease;
    z-index: -1;
  }
 
  .btn--1::before {
    left: -520px;
    right: 0;
    width: 100%;
    height: 150%;
    transition: all 1500ms ease;
    transform: rotate(45deg);
    box-shadow: 0 0 10px rgb(105, 71, 55), 0 0 20px rgb(105, 71, 55), 0 0 20px rgb(105, 71, 55);
  }
  .btn--1:hover::before {
    left: 520px;
  }
  #botoncito{
    border: 2px solid tan;
    height: 50px;
    width: 125px;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    font-weight: 500;
  }
  