<header>


    <div class="row">
        <div class="col-3 col-md-2 col-sm-2">
            <img src="assets/imgs/lib.png" alt="comienzo" routerLink="home">
        </div>
        <div class="col col-lg-2 col-md-5 col-sm-5"> <button id="boton" type="button" class="btn btn--1" routerLink="home">Home</button>
        </div>
        <div class="col col-lg-2 col-md-5 col-sm-5"> <button id="boton" type="button" class="btn btn--1" routerLink="libritos">Nuestros
                Libros</button>
        </div>
        <div class="col col-lg-2 col-md-5 col-sm-5"> <button id="boton" type="button" class="btn btn--1" routerLink="prestado">Sección de
                Prestamos</button>
        </div>
        <div class="col col-lg-2 col-md-5 col-sm-5"> <button id="boton" type="button" class="btn btn--1" routerLink="ssocios">Nuestros
                Socios</button>
        </div>
        
        <div class="col-md-2 col-sm-2">
            <button id="botoncito" type="button"  (click)="auth.SignOut()">Cerrar Sesión</button>
        </div>
    </div>



</header>