<button class="btnn buton" routerLink="/dashboard/prestado">Volver</button>
<div class="container">
    <form class="row g-3" (ngSubmit)="newPrestamo(nuevoPrestamoForm.value)" [formGroup]="nuevoPrestamoForm">
        <div class="col-md-6">
            <label for="inputLibros" class="form-label">Libros</label>
            <select id="inputLibros" formControlName="libro" class="form-select">
                <option value="{{libro.id}}" *ngFor="let libro of libros" required>{{libro.data.nombre}}</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputSocio" class="form-label">Socios</label>
            <select id="inputSocio" formControlName="socio" class="form-select">
                <option value="{{socio.id}}" *ngFor="let socio of socios" required>{{socio.data.nombre}} {{socio.data.apellidos}}</option>

            </select>
        </div>
        <div class="col-md-6">
            <label for="inputAutor" class="form-label">Fecha de Recogida</label>
            <h3>{{fechaHoy | date:'dd/MM/yyyy'}}</h3>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill">
                <mat-label>Fecha de Devolucion</mat-label>
                <input formControlName="fechaFin" matInput [matDatepicker]="fechaFinal">
                <mat-datepicker-toggle matSuffix [for]="fechaFinal"></mat-datepicker-toggle>
                <mat-datepicker  #fechaFinal></mat-datepicker>
              </mat-form-field >
        </div>

        <div class="col-12">
            <button type="submit" [disabled]="!nuevoPrestamoForm.valid" class="btn btn-success">Crear Prestamo</button>
        </div>
    </form>
</div>