.container{
    padding: 3%;
    margin-top: 2%;
}
.container:hover{
    background-color: #d6c1a5;
    border: solid white;
}
.btnn {
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    display:inline;
    height: 50px;
    width: 120px;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: transparent;
    color: sienna;
    font-size: 15px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid tan;
    margin-right: 40px;
    z-index: 0;
    font-weight: 500;
    cursor: pointer;
  }
  .btnn::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: sienna;
    transition: all 500ms ease;
    z-index: -1;
  }
 
.buton::before {
    width: 0;
    height: 100%;
  }
.buton:hover {
    color: tan;
  }
.buton:hover::before {
    width: 100%;
  }
