.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  border-radius: 10%;
  background-color:bisque;
  border: 3px solid sienna;
  }
  
  .form-signup .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signup input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .pointer{
    cursor: pointer;
  }
  