
.libro{
    margin-top: 3%;
    margin-left: 2%;

}
.boton{
    margin-bottom: 3%;
    margin-left: 5%;
}
.libro-title{
    text-align: center;

}
/*
input{
    width: 100%;
    padding:7px 15px;
    background-color: #d6c1a5;
    color: sienna;
    border-left:3px solid sienna;
    border-radius: 5%;
    border-top:3px solid sienna ;
    border-right:3px solid sienna ;
    border-bottom:none ;
}*/
.redondo{
    margin-top: 25px;
    margin-left: 1%;
    font-weight: bold;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
.libro:hover{
    background-color: #d6c1a5;
    border: solid white;

}
.libro:hover hr{
    color: white;
}
img{
    margin-top: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.libro-title{
    font-weight: bold   ;
}
hr{
    border-color:rgb(243, 14, 14);
    margin: 5%;
}

/*Pruebas*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  font-family: Roboto, sans-serif;

}

html, body {
  width: 100%;
  height: 100%;
}

.flexbox {
  
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 20px;
}



.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px sienna);
}

.search > div:after {
  content: "";
  background: sienna;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 34px;
  
  transform: rotate(135deg);
}

.search > div > input {
  color: sienna;
  font-size: 16px;
  background: transparent;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: solid 3px sienna;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}
