<button class="btn btn-success redondo" routerLink="nuevoLibro">➕</button>

<div class="container">
  <div class="flexbox">
    <div class="search">
      <div>
        <input placeholder="Buscar..." type="text" [(ngModel)]="term">
      </div>
    </div>
  </div>
  <!--<input placeholder="Buscar..." type="text" [(ngModel)]="term">-->

  <div class="row">
    
    <div class="col-4" *ngFor="let libro of libros|filter:term">
      <div class="libro">
        <img src="{{libro.data.foto}}" class="libro-img" alt="fotolibro" width="50%">
        <div class="libro-body">
          <hr>
          <h3 class="libro-title">{{libro.data.nombre}}</h3>
          <button class="boton boton1" mat-raised-button color="warn"
            routerLink="librodetalles/{{libro.id}}">Ver Detalles</button>
          <button class="boton boton2" mat-raised-button color="warn"
            routerLink="librosEdit/{{libro.id}}">Editar</button>
          <button class="boton boton3" mat-raised-button color="warn" (click)="deleteLibro(libro.id)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>