.container {  display: grid;
  grid-template-columns: 0.9fr 1.3fr 0.9fr;
  grid-template-rows: 1.1fr 0.9fr; 
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "pf1 crd pf2";
}

.pf1 { grid-area: pf1; }

.crd { 
  padding: 4%;
  grid-area: crd;
  border-radius:24px;
  border:3px solid sienna;
}
.crd:hover { 
  padding: 4%;
  grid-area: crd;
  border-radius:24px;
  background-color: #d6c1a5;
  border:3px solid white;
}
.pf2 { grid-area: pf2; }


.imgRedonda {
  margin-left: 25%;
  
  border-radius:23px;
  border:4px solid sienna;
}
.crd:hover .imgRedonda { 
  grid-area: crd;
  background-color: #d6c1a5;
  border:3px solid white;
}
h1{
  margin-top: 5%;
  text-align: center;
}
h3{
  text-align: center;
}
.btnn {
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    display:inline;
    height: 50px;
    width: 120px;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: transparent;
    color: sienna;
    font-size: 15px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid tan;
    margin-right: 40px;
    z-index: 0;
    font-weight: 500;
    cursor: pointer;
  }
  .btnn::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: sienna;
    transition: all 500ms ease;
    z-index: -1;
  }
 
.buton::before {
    width: 0;
    height: 100%;
  }
.buton:hover {
    color: tan;
  }
.buton:hover::before {
    width: 100%;
  }
