<button class="btnn buton" routerLink="/dashboard/ssocios">Volver</button>
<div class="container">
    <div class="pf1"></div>
    <div class="crd">
        <img src="{{socio.foto}}" class='imgRedonda'  alt="fotosocio" width="55%">
         <h1>{{socio.nombre}} {{socio.apellidos}}</h1>
        <h3>Edad: {{socio.edad}}</h3>
        <h3>Telefono: {{socio.telefono}}</h3>
        <h3>Correo: {{socio.correo}}</h3>
        <h3>Genero Favorito: {{socio.generofav}}</h3>
    </div>
    <div class="pf2"></div>
  
</div>
